.chatbar {
  position: fixed;
  bottom: 0;
  right: 25px;
  display: flex;
  justify-content: flex-end;
}


.close-chats {
  height: 20px;
  color: #4267b2;
  cursor: pointer;
  border: 1px solid #dddfe2;
  height: 10px;
  border-radius: 3px;
  padding: 10px 10px 5px 10px;
  padding: 0;
  i {
    font-size: 20px;
  }
  &:hover {
    color: #365899;
  }
}

.chat-main,
.chatbox-closed {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 10px 60px 5px 15px;
  font-size: 12px;
  font-weight: 800;
  background-color: #f1f2f3;
  cursor: pointer;
  align-self: bottom;

  &:hover{
    background-color: #fafafb;
  }
}

.chatbox-closed {
  margin-left: 15px;
}

.chat-main {
  padding: 10px 225px 6px 10px;
  margin-left: 13px;
}

.chatbox-item {
  position: relative;
}

.open-chatbox-item {
  width: 250px;
  height: 320px;
  border: 1px solid #cecfd2;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  background-color: #ffffff;
  margin-left: 12px;
}
.chat-container li {
  cursor: pointer;


  &:hover {
    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41,
    .04));
  }

}
.chat-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddfe2;

  .new-message {
    color: #365899;
    cursor: pointer;
    font-weight: 100;

    &:hover {
      text-decoration: underline;
    }
  }

}

.conversation-item {
  margin: 3px 0;
  display: flex;

  .conversation-circle-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }

}

.conversation-content {
  margin-left: 15px;
  width: 100%;
}

.conversation-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.conversation-content-name {
  font-weight: 700;
  color: #1d2129;
}


.conversation-content-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.conversation-content-time {
  color: #90949c;
}

.conversation-content-message {
  color: #4b4f56;
}


.chat-container {
  position: absolute;
  top: 34px;
  left: -358px;
  background-color: white;
  width: 430px;
  border: 1px solid #dddfe2;
  z-index: 50000;
  font-size: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  p {
    padding:9px 10px;
    font-weight: bold;
    border-bottom: 0;
  }

  li {
    padding: 2px 10px;
    border-bottom: 1px solid #dddfe2;
  }

}

.close-chats {
  margin: 0 10px 0 0;

  i {
    color: #6c84b8;
  }
}

.chat-boxes-ul {
  display: flex;
  align-items: flex-end;
}
