.chatbar {
  position: fixed;
  bottom: 0;
  right: 25px;
  display: flex;
  justify-content: flex-end;
}

.chat-bo

.close-chats {
  height: 20px;
  color: #4267b2;
  cursor: pointer;
  border: 1px solid #dddfe2;
  height: 10px;
  border-radius: 3px;
  padding: 10px 10px 5px 10px;
  padding: 0;
  i {
    font-size: 20px;
  }
  &:hover {
    color: #365899;
  }
}

.chatbox-closed {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 10px 10px 5px 10px;
  font-size: 12px;
  font-weight: 800;
  background-color: #eef0f1;
  cursor: pointer;

  &:hover{
    background-color: #f3f4f5;
  }
}

.chatbox-item {
  margin-right: 15px;
}
