.chatbar {
  position: fixed;
  bottom: 0;
  right: 25px;
  display: flex;
  justify-content: flex-end;
}


.close-chats {
  height: 20px;
  color: #4267b2;
  cursor: pointer;
  border: 1px solid #dddfe2;
  height: 10px;
  border-radius: 3px;
  padding: 10px 10px 5px 10px;
  padding: 0;
  i {
    font-size: 20px;
  }
  &:hover {
    color: #365899;
  }
}

.chat-main,
.chatbox-closed {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 800;
  background-color: #f1f2f3;
  cursor: pointer;
  align-self: bottom;

  &:hover{
    background-color: #fafafb;
  }
}

.chatbox-closed {
  width: 75%;
  padding: 10px 10px 6px 10px;
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;

  i { 
    opacity: 0;

  }

  &:hover {
    i {
      opacity: 100;
      color: #646566;

      &:hover {
        color: #313131;
      }
    }
  }
}

.chat-main {
  padding: 10px 225px 6px 10px;
  margin-left: 15px;
}

.chatbox-item {
  position: relative;
}

.open-chatbox-item {
  width: 255px;
  height: 330px;
  border: 1px solid #cecfd2;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  background-color: #ffffff;
  margin-left: 12px;
}

.chat-container li {
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
  }
}

.chatbox-header {
  background-color: #f6f7f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 7px;
  cursor: pointer;
  color: #4c5057;
  font-weight: 700;
  border-bottom: 1px solid #d8d8d8;
  a {
    text-decoration: none;
    color: #4c5057;
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    color: #7f8081;
    margin-left: 10px;

    &:hover {
      color: #313131;
    }
  }
  &:hover {
    background-color: #edeef1;
  }
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddfe2;

  p {
    padding:9px 10px;
    font-weight: bold;
    border-bottom: 0;
  }

  .new-message {
    color: #365899;
    cursor: pointer;
    font-weight: 100;

    &:hover {
      text-decoration: underline;
    }
  }
}

.controls {
  p {
    display: inline;
    font-weight: bold;
    border-bottom: 0;
  }
}

.new-conversation {
  border-bottom: 1px solid #dddfe2;
}

.new-conversation-container {
  display: flex;
  justify-content: space-around;

  textarea {
    border: 1px solid transparent;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.chat-dropdown-item {
  display: flex;
  align-items: center;
  img {
    height: 15px;
    width: 15px;
  }
}


.conversation-item {
  margin: 3px 0;
  display: flex;

  .conversation-circle-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }

}

.conversation-content {
  margin-left: 15px;
  width: 100%;
}

.conversation-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.conversation-content-name {
  font-weight: 700;
  color: #1d2129;
}


.conversation-content-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.conversation-content-time {
  color: #90949c;
}

.conversation-content-message {
  color: #4b4f56;
  word-break: break-all;
  word-wrap: break-word;
}


.chat-container {
  position: absolute;
  top: 34px;
  left: -358px;
  background-color: white;
  width: 430px;
  border: 1px solid #dddfe2;
  z-index: 50000;
  font-size: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  li {
    padding: 2px 10px;
    border-bottom: 1px solid #dddfe2;
  }

}

.close-chats {
  margin: 0 10px 0 0;

  i {
    color: #6c84b8;
  }
}

.chat-boxes-ul {
  display: flex;
  align-items: flex-end;
}

.chatbox-messages {
  height: 80%;
  font-size: 12px;
  overflow-y: auto;

}

.send-chat-message {
  height: 20%;
  border-top: 1px solid #e5e5e5;

  textarea {
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    border: none;
    width: 98%;
    height: 50%;
    resize: none;
    font-size: 10px;

    &:focus {
      outline: none;
    }
  }
}


.message-item {
  clear: both;
  padding: 7px;
}

.message-picture-container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.left-message-item {
  float: left;
  display: flex;
  align-items: flex-end;
  max-width: 85%;
  img {
    height: 100%;
    width: 100%;
  }

  .message-body {
    max-width: 75%;
    margin-left: 5px;
  }
}

.right-message-item {
  float: right;
  clear: both;
  max-width: 70%;
}

.message-body {
  padding: 5px 8px;
  border-radius: 12px;
  word-wrap: break-word;
}


.active-chatbox,
.our-message {
  color: white;
  background-color:#4080ff; 
  a {
    color: white;
  }

  i {
    color: #c5d9ff;
  }

  &:hover {
    background-color: #3e7cf7;
  }
}

.their-message {
  background-color: #f1f0f0;
}

.relative-unread {
  position: relative;
}

.notification {
  border: 1px solid red;
  bottom: 10px;
  left: 10px;
  position: absolute;
  color: white;
  background-color: #fa3e3e;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px;
}

.conversations-container {
  overflow-y: auto;
  max-height: 400px;
}

.msg-unread {
  background-color: #edf2fa;
}
