.feed-loading,
.create-post-header-container {
  width: 100%;
}

.feed {
  min-width: 514px;
}

.create-post {
  height: 160px;
  width: 100%;
  padding-right: 2px;
}

.create-post-header-container {
  height: 35px;
  background-color: #f6f7f9;
  border: 1px solid #dddfe2;
}

.create-post-header {
  margin: 11px 12px 8px 12px;
  font-size: 12px;
  color: #4b4f56;
  font-weight: bold;
  i {
    margin-right: 5px;
    color: #5e7ebe;
  }
}


.create-post-form-input {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;

  background-color: white;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  textarea{
    font-family: Helvetica;
    border: 0px solid transparent;
    padding: 5px 40px 5px 5px;
    font-size: 14px;
    height: 45px;
    width: 90%;
    font-weight: 300;
    word-wrap: break-word;
    resize: none;
    overflow-y: auto;
    color: black;
    &:focus {
      outline: none;
    }
  }


  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    line-height: 40px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    line-height: 40px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    line-height: 40px;
  }
  :-moz-placeholder { /* Firefox 18- */
    line-height: 40px;
  }
  img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
  }
}

.create-post-form-submit {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #dddfe2;

  button {
    margin: 8px 0;
    margin-right: 6px;
    font-size: 12px;
    height: 24px;
    width: 60px;
    display: flex;
    justify-content: center;
    background-color: #4267b2;
    color: white; 
    border: 1px solid #4267b2;
    border-radius: 2px;
    padding: 0 25px;
    cursor: pointer;
    &:hover {
      background-color: #365899;
      border: 1px solid #365899;
    }
  }
}

.errors {
  border: 1px solid #cc0000;
}
