.home {
  display: flex;
  margin: 12px 445px 0 445px;
}

.timeline {
  margin: 0 10px;
}


.home-left-bar, 
.home-right-bar {

}

.home-left-bar {
  width: 185px;
}

.home-right-bar {
  width: 310px;
}

.inside-home-left-navbar {
  padding: 0 5px;
}

.left-navbar-main,
.left-navbar-adversiting,
.home-side-nav-user {
  img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid transparent;
    &:hover {
      background-color: #f6f7f9;
      border: 1px solid #dddfe2;
    }
  }

  i {
    font-size: 17px;
    margin-right: 7px;
    color: #5d92ff;
  }
}


.left-navbar-explore {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid transparent;

  i {
    color: #9b6638;
  }

}
