.home {
  display: flex;
  margin: 12px 445px 0 445px;
}

.timeline {
  margin: 0 10px;
}


.home-left-bar, 
.home-right-bar {

}

.home-left-bar {
  width: 185px;
}

.home-right-bar {
  width: 310px;
}

.inside-home-left-navbar {
  padding: 5px;
}
