@import "colors.scss";

.navbar-container {
  background-color: #3b5998;
  position: fixed;
  z-index: 20;
  top: 0;
  width: 51.3%;
  padding: 0 22% 0 24.7%;
}


.navbar-color {
  background-color: #3b5998;
  top: 0;
  height: 43px;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.fafbook-small-logo,
.fafbook-small-logo-link {
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  color: #3b5998;
  -webkit-font-smoothing: antialiased;
}

.fafbook-small-logo {
  background-color: white;
  width: 24px;
  height: 24px;
  margin-right: 3px;

  display: flex;
  justify-content: flex-end;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /*Older IE or something */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.fafbook-small-logo-f {
  margin-right: 3px;
  -webkit-font-smoothing: antialiased;
}

.fafbook-small-logo-link {
}

.left-navbar {
  display: flex;
}

.navbar-both {
  padding-top: 9px;
  display: flex;
  justify-content: space-between;
}

.search {
  position: relative;
}

.search-box {
  input {
    &:focus {
      outline: none;
    }
  }
}

.search-box-input{
  height: 20px;
  width: 390px;
  padding-right: 50px;
  margin-left: 5px;
  padding-left: 5px;
  font-size: 14px;
  border: 1px solid transparent;

}

.search-submit {
  cursor: pointer;
  height: 23px;
  margin-left: -50px;
  border: 1px solid transparent;
  background-color: #f6f7f9;
  width: 50px;
  position: absolute;
  color: #696f7c;
  &:hover{
    background-color: #e9ebee;
    border: 1px solid #e9ebee;
  }
  i {
    font-size: 16px;
  }
}

.search-dropdown {
  position: absolute;
  background-color: white;
  width: 445px;
  left: 5px;
  border: 1px solid #dddfe2;
  z-index: 50000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;

    &:hover {
      background-color: #ecf0f7;
    }
  }
}

.search-header {
  padding: 7px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e9eaed;
  border-top: 1px solid #e9eaed;
  color: #90949c;
  font-size: 11px;
  font-weight: bold;
}

.empty-search {
  padding: 7px;
  font-size: 14px;
  font-weight: bold;
}


.right-navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-btn {
  cursor: pointer;
  margin: 0 8px;
  margin-top: 3px;
  font-size: 20px;
  color: #18243d;
  &:hover {
    color: #000000;
  }
}

.active-btn {
  color: white;

  &:hover {
    color: white;
  }
}

.right-navbar-words:hover {
  color: white;
  background-color: #355089;
}


.empty-border {
  width: 8px;
  margin-left: 8px;
}

.empty-border-left,
.empty-border {
  border-left: 1px solid #365089;
}


.help-btn {
  margin-right: 4px;
}

.profile-link,
.home-link {
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

.profile-link {
  display: flex;
  align-items: center;
  margn: 0 3px;
  padding-right: 10px;
  margin-right: 0px;

  img {
    margin-right: 5px;
  }
}

.home-link {
  margin-right: 12px;
  margin-left: 5px;
  padding: 5px;
  padding-top: 6px;
}

.navbar-profile-photo {
  height: 24px;
  width: 24px;
  z-index: 4;
}

.friend-requests-dropdown {
  position: relative;
}

.friend-requests-container {
  position: absolute;
  top: 34px;
  left: -358px;
  background-color: white;
  width: 430px;
  border: 1px solid #dddfe2;
  z-index: 50000;
  font-size: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  p, li {
    border-bottom: 1px solid #dddfe2;
  }

  p {
    padding:9px 10px;
    font-weight: bold;
  }

  li {
    padding: 2px 10px;
  }

}


.friend-requests-item {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #365899;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }

  img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  margin: 5px 0;
}

.friend-request-actions,
.friend-request-info {
  display: flex;
  align-items: center;
}


.friend-requests-item-button {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 3.5px 8px;
  border-radius: 2px;
}

.friend-requests-approve {
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: white;
  margin-right: 3px;

  &:hover {
    background-color: #365899;
    border: 1px solid #365899;
  }
}

.friend-requests-deny {
  background-color: #f6f7f9; 
  border: 1px solid #bec2c9;
  color: #4b4f56;

  &:hover {
    background-color:#e9ebee;
  }
}

.special-navbar {
  padding: 0 20% 0 23.5%;
  width: 53.6%;
}
