@import "colors.scss";

.navbar-container {
  background-color: #3b5998;
  height: 43px;
  padding: 0 465px 0 473px;
}

.fafbook-small-logo,
.fafbook-small-logo-link {
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  color: #3b5998;
  -webkit-font-smoothing: antialiased;
}

.fafbook-small-logo {
  background-color: white;
  width: 24px;
  height: 24px;
  margin-right: 3px;

  display: flex;
  justify-content: flex-end;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /*Older IE or something */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.fafbook-small-logo-f {
  margin-right: 3px;
  -webkit-font-smoothing: antialiased;
}

.fafbook-small-logo-link {
}

.left-navbar {
  display: flex;
}

.navbar-both {
  padding-top: 9px;
  display: flex;
  justify-content: space-between;
}

.search-box-input{
  height: 20px;
  width: 390px;
  padding-right: 50px;
  margin-left: 5px;
  padding-left: 5px;
  font-size: 14px;
  border: 1px solid transparent;
}

.search-submit {
  cursor: pointer;
  height: 24px;
  margin-left: -50px;
  border: 1px solid transparent;
  background-color: #f6f7f9;
  width: 50px;
  position: absolute;
  &:hover{
    background-color: #e9ebee;
    border: 1px solid #e9ebee;
  }
}


.right-navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-btn {
  cursor: pointer;
  margin: 0 8px;
  margin-top: 3px;
  font-size: 20px;
  color: #18243d;
  &:hover {
    color: #000000;
  }
}

.right-navbar-words:hover {
  color: white;
  background-color: #355089;
}

.empty-border {
  border-left: 1px solid #365089;
  width: 5px;
  margin-left: 5px;
}

.help-btn {
  margin-right: 4px;
}

.profile-link,
.home-link {
  font-size: 12px;
  font-weight: bold;
  padding-top: 4px;
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

.home-link {
  margin-right: 31px;
}

.navbar-profile-photo {
  height: 24px;
  width: 24px;
  z-index: 4;
}

.friend-requests-container {
  position: absolute;
  top: 43px;
  right: 540px;
  background-color: white;
  width: 430px;
  border: 1px solid #dddfe2;
  z-index: 50000;
  font-size: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  p, li {
    padding:9px 10px;
    border-bottom: 1px solid #dddfe2;
  }

  p {
    font-weight: bold;
  }

}


.friend-requests-item {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #365899;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }

  img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  margin: 5px 0;
}

.friend-request-actions,
.friend-request-info {
  display: flex;
  align-items: center;
}

