.post-container {
  width: 512px;
  margin-top: 10px;
  border: 1px solid #dfe0e4;
}

.post-top {
  background-color: white;
  padding: 12px 12px 0 12px;
}

.post-header {
  display: flex;
}

.post-header-left img {
  height: 40px;
  width: 40px;
}

.post-header-right {
  margin-left: 10px;
  margin-top: 2px;
}

.post-header-right a {
  text-decoration: none;
  color: #365899;
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: underline;
  }
}

.post-header-date-time {
  color: #90949c;
  font-size: 12px;
  margin-top: 6px;
}

.post-body {
  margin-top: 8px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;

  p {
    line-height: 19px;
    font-size: 14px;
  }
}

.post-buttons {
  display: flex;
}

.post-action-button {
  margin: 10px 30px;
  margin-left: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #afb4bd;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: #8c9097;
  }

}
