.post-container {
  width: 512px;
  margin-top: 10px;
  border: 1px solid #dfe0e4;
}
.post-header-left img {
  height: 40px;
  width: 40px;
}

.post-top {
  background-color: white;
  padding: 12px 12px 0 12px;
}

.post-header {
  display: flex;
}
