.post-container {
  width: 512px;
  margin-top: 10px;
  border: 1px solid #dfe0e4;
}

.post-top {
  background-color: white;
  padding: 12px 12px 0 12px;
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.edit-dropdown {
  position: relative;
  font-size: 11px;
  color: #dddee2;
  cursor: pointer;
  &:hover {
    color: #b2b5bc;
  }
}

.edit-delete-dropdown {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  width: 200px;
  background-color: white;
  right: -5px;
  color: black;
  border: 1px solid #adaeb0;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

  li {
    padding: 6px 12px;
    font-size: 12px;
  }

  .edit-delete-dropdown-option {
    &:hover {
      background-color: #4267b2;
      color: white;
    }
  }
}

.update-post-buttons {
  display: flex;
}

.edit-post-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  overflow: hidden;

  textarea {
    overflow: hidden;
  }
}

.post-header-information {
  display: flex;
}

.post-header-left img {
  height: 40px;
  width: 40px;
}

.post-header-right {
  margin-left: 10px;
  margin-top: 2px;
}

.post-header-right a {
  text-decoration: none;
  color: #365899;
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: underline;
  }
}

.post-header-date-time {
  color: #90949c;
  font-size: 12px;
  margin-top: 6px;
}

.post-body {
  margin-top: 8px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;

  p {
    line-height: 19px;
    font-size: 14px;
  }
}

.post-buttons {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.post-action-button {
  margin: 10px 25px;
  margin-left: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  i {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: underline;
  }

}






.post-bottom {
  background-color: #f6f7f9;
}







.comment-container{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  a {
    color: #365899;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    margin-top: 5px;
  }
}

.comment-container,
.post-new-comment {
  display: flex;
  padding: 12px 12px 8px 12px;
  overflow: hidden;
  img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
  }

  textarea {
    font-family: Helvetica;
    width: 435px;
    height: 29px;
    padding-left: 5px;
    resize: none;
    overflow-y: auto;
    line-height: 25px;
    border: 1px solid #dddfe2;
    &:focus {
      outline: none;
    }
  }
}

