.profile {
  margin: 0 200px 0 460px;
  display: flex;
  flex-direction: column;
}

.cover-img {
  height: 205px;
  width: 851px;
  position: absolute;
}

.profile-img {
  height: 160px;
  width: 160px;
  border: 4px solid white;
  outline: 0px solid #b3b3b3;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  left: 17px;
  z-index: 5;
  overflow: scroll;
}

.profile-header-space {
  height: 204px;
  width: 851px;
}

.profile-cover-header {
  top: 160px;
  left: 200px;
  right: 800px;
  bottom: 65px;
  position: absolute;
  color: #fff;
  z-index: 5;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4);
  letter-spacing: -0.24px;
  text-rendering: optimizeLegibility;
}

.about-side-bar {
  background-color: white;
  border: 1px solid #d0d1d5;
  width: 270px;
  padding: 8px;
}

.about-intro-body {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ebee;
  font-size: 14px;
  margin-bottom: 15px;
}

.about-intro-header {
  font-size: 18px;
  color: #4b4f56;
  margin-bottom: 20px;
}

.about-intro-header i {
  color: #4267b2;
  margin-right: 5px;
}

.profile-other-info {
  font-size: 14px;
  padding-bottom: 15px;
}

.profile-other-info i {
  margin: 0 15px 0 10px;
  color: #a5a9b2;
}

.profile-nav-bar-container {
  border: 1px solid #d3d6db;
  background-color: white;
  width: 849px;
}

.profile-nav-bar {
  display: flex;
  align-items: center;
}


.profile-nav-link {
  height: 45px;
  border-right: 1px solid #e9eaed;
  padding: 0 20px;
  cursor: pointer;
  color: #365899;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 45px;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  &:hover{
    background-color: #f6f7f9;
  }
}

.profile-body {
  margin-top: 15px;
}

.profile-nav-empty {
  width: 160px;
  cursor: default;
  &:hover {
    background-color: white;
  }
}

.profile-action-bar {
  position: absolute;
  color: black;
  right: 539px;
  left: 540px;
  top: 160px;
}

.profile-control-bar {
  position: relative;
}

.edit-profile-btn-container button,
.friend-request-button button {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  -webkit-font-smoothing: antialiased;
}


.edit-profile-btn-container button {
  height: 30px;
  width: 100px;
}

.friend-request-button button {
  width: 160px;
  height: 30px;
}


.edit-profile-btn-container i,
.friend-request-button i {
  font-size: 14px;
  z-index: 200;
}

.edit-profile-btn-text,
.friend-request-button-text {
  padding-left: 8px;
}

.profile-sidebar-photos {
  height: 101px;
  width: 101px;
}

