.profile button {
  cursor: pointer;
}
.profile {
  margin: 0 200px 0 460px;
  display: flex;
  flex-direction: column;
}

.cover-img {
  height: 205px;
  width: 851px;
  position: absolute;
}

.profile-img {
  height: 160px;
  width: 160px;
  border: 4px solid white;
  outline: 0px solid #b3b3b3;
  box-shadow: 0 0 0 1px #b3b3b3;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  left: 17px;
  z-index: 1;
  overflow: scroll;
}

.profile-header-space {
  height: 204px;
  width: 851px;
}

.profile-cover-header {
  top: 160px;
  left: 200px;
  right: 800px;
  bottom: 65px;
  position: absolute;
  color: #fff;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 4px black;
  letter-spacing: -0.24px;
  text-rendering: optimizeLegibility;
}


.profile-sidebar-photos-container,
.about-side-bar {
  width: 300px;
  margin-bottom: 15px;
}

.about-side-bar {
  background-color: white;
  padding: 8px;
  border-top-color: rgb(229, 230, 233);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(223, 224, 228);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(208, 209, 213);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(223, 224, 228);
  border-left-style: solid;
  border-left-width: 1px;
}

.about-intro-body {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ebee;
  font-size: 14px;
  margin-bottom: 15px;
  word-wrap:break-word;
}

.profile-sidebar-header,
.about-intro-header {
  padding: 5px 0 0 5px;
  font-size: 18px;
  color: #4b4f56;
  margin-bottom: 20px;
}

.profile-sidebar-header i,
.about-intro-header i {
  margin-right: 15px;
}


.about-intro-header i {
  color: #4267b2;
}

.profile-other-info {
  font-size: 13px;
  padding-bottom: 15px;
}

.profile-other-info-text {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}

.profile-other-info i {
  margin: 0 4px 0 3px;
  font-size: 12px;
  width: 14px;
  height: 18px;
  color: #a5a9b2;
}

.profile-nav-bar-container {
  border: 1px solid #d3d6db;
  background-color: white;
  width: 849px;
}

.profile-nav-bar {
  display: flex;
  align-items: center;
}


.profile-nav-link {
  height: 45px;
  border-right: 1px solid #e9eaed;
  padding: 0 20px;
  cursor: pointer;
  color: #365899;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 45px;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  &:hover{
    background-color: #f6f7f9;
  }
}

.profile-body {
  margin-top: 15px;
}

.profile-nav-empty {
  width: 160px;
  cursor: default;
  &:hover {
    background-color: white;
  }
}

.profile-action-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 250px;
  color: black;
  right: 539px;
  left: 540px;
  top: 160px;
}

.profile-control-bar {
  position: relative;
}

.upload-photo-modal-container button, 
.edit-profile-btn-container button,
.friend-request-button button {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  background-color: #f6f7f9;
  border: 1px solid #f6f7f9;
  -webkit-font-smoothing: antialiased;
  height: 28px;
}


.edit-profile-btn-container button {
  width: 100px;
}

.friend-request-button button {
  width: 160px;
}

.upload-photo-modal-container button {
  width: 120px;
}



.upload-photo-modal-container i,
.edit-profile-btn-container i,
.friend-request-button i {
  font-size: 12px;
  z-index: 200;
  color: #90949c;
  padding-right: 8px;
}

.profile-sidebar-photos {
  height: 95px;
  width: 95px;
  margin: 0 2px;
  cursor: pointer;
}


.profile-other-info-li i {
  display:inline-block;
  width: 15px;
  padding: 5px;
}

.profile-other-info-li label {
  display: inline-block;
  font-size: 14px;
}


.profile-sidebar-photos-header i {
  color: #a5d950;
}

.profile-sidebar-friends-header i {
  color: #f50e6b;
}

.grey {
  font-size: 10px;
  color: #899aa5;
}


.update-photo-hover button {
  left: 21px;
  top: 175px;
}



.update-cover-hover {
  position: absolute;
  left: 21px;
  top: 15px;
  width: 160px;
  height: 30px;
}

.profile-update-photos i {
  font-size: 18px;
  margin-right: 10px;
  color: #b0b1b1;
  position: relative;
}

.update-cover-hover button,
.update-photo-hover button {
  width: 160px; 
  height: 30px;
  position: absolute;
  background-color:rgba(0,0,0,0.7);
  border: 0;
  font-size: 12px;
  z-index: 6;
  background-color: transparent;
  color: #b0b1b1;
}

.update-photo-hover button {
  height: 50px;
  opacity: 0;
  color: white;
}


.update-photo-hover button:hover {
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
  opacity: 100;
  background-color:rgba(0,0,0,0.7);
}


.update-cover-hover span {
  opacity: 0;
}

.update-cover-hover {
  border: 1px solid transparent;

  i {
    font-size: 18px;
  }

  &:hover{
    border: 1px solid #acadb0;
    border-radius: 3px;
  }

  &:hover span {
    opacity: 100;
    float: right;
  }

  &:hover i {
    font-size: 14px;
  }
}

