// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";

.signin-header-container {
  height: 83px;
  color: white;
  @include background-gradient;
}

.signup-header-container,
.signin-header-box {
  margin: 0 24%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.signin-input {
  width: 142px;
}

.fafbook-logo {
  font-size: 50px;
  margin-top: 2.5%;
  font-family: 'Klavika';
}

.signin-form {
  height: 100%;
  border-collapse: collapse;
  display: table;
  margin-top: 15px;
}

.signin-form > input,
.signin-form > label {
  display: block;
}


.signin-form > input {
}

.signin-input {
  margin-top: 7px;
  margin-bottom: 3px;
  height: 15px;
}

.signin-password {
  margin-right: 15px;
}

.signin-label {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
}

.signin-email{
  float: left;
  margin-right: 20px;
}

.signin-password{
  float:left;
}

.signin-submit,
.test-button-login{
  background-color: #4267b2;
  color: white;
  border-radius: 1px;
  border: 1px solid #29487d;
}
.signin-submit{
  margin-top: 17px;
  margin-left: 5px;
  height: 24px;
}

.test-button-login{
  position: absolute;
}

#forgot-password {
  color: #9cb4d8;
  margin-top: 3px;
  font-size: 12px;
}

.signin-error {
  margin-top: 5px;
  padding: 5px 0;
  color: #ff5050;
  clear: both;
}

/* -------------------------------- */
/* Sign Up Form */

.signup-errors {
  border: 1px solid #ff5050;
}

.bold-words {
  font-weight: bold;
  color: black;
  font-size: 24;
}

.signup-header-background {
  background-color: #edf0f5;
  font-family: 'Cabin', sans-serif;
}

.signup-gender {
  display: flex;
}

.signup-connect {
  font-size: 28px;
  font-weight: bold;
  margin-top: 14%;
  margin-bottom: 10%;
  line-height: 1.3em;
}

.signup-lefthand-list{
}

.signup-lefthand-list-item{
  display: block;
  margin: 3% 0;
  color: gray;
}

.signup-lefthand-list i {
  vertical-align: middle;
  color: #adbad4;
  font-size: 50px;
  margin-right: 15px;
}

.signup-big {
  font-size: 36px;
  font-weight: bold;
  margin-top: 7%;
  margin-bottom: 3%;
}

#snark {
  font-size: 17px;
}


.signup-fname, .signup-lname,
.signup-email, .signup-password {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #bdc7d8;
  font-size: 18px;
}

.signup-fname, .signup-lname {
  width: 200px;
}
