// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";
 
.signin-header-container {
  height: 83px;
  color: white;
  @include background-gradient;
}

.signin-header-box {
  margin: 0 10%; 
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.signin-input {
  width: 142px;
}

.fafbook-logo {
  font-size: 50px;
  margin-top: 2%;
}

.signin-form {
  height: 100%;
  border-collapse: collapse;
  display: table;
  margin-top: 1%;
}

.signin-form > input,
.signin-form > label {
  display: block;
}

.signin-form > label {
}

.signin-email{
  float: left;
  margin-right: 20px;
}

.signin-password{
  float:left;
}

.signin-submit,
.test-button-login{
  background-color: #4267b2;
  color: white;
  border-radius: 5px;
}
.signin-submit{
  margin-top: 15px;
  margin-left: 200px;
}

#forgot-password {
  color: #9cb4d8;
  margin-top: 3px;
  font-size: 12px;
}

.signin-error {
  margin-top: 5px;
  padding: 5px 0;
  color: #ff5050;
  clear: both;
}

.signup-errors {
  border: 1px solid red;
}

.signup-header-container {
  margin: 0 13.5%; 
  display: flex;
  justify-content: space-around;
}
